<!DOCTYPE html>
<html>
<head>
    <title>34 State Ballot Measure Statute/Law/Amendment</title>
    <style>

        /*
        p, h1, h2, h3, h4, h5, h6, span, a, li {
            background-color: white;
        }
        */

        * {
            background-color: white;
        }

        body {
        font-size: 125%;
        width: 700px;
        text-align: justify;
        margin: 0;
        background-image: url("static/declare.jpg"); /* ton image */
        background-repeat: repeat;
        background-size: cover;      /* couvre tout l’écran */
        background-position: center; /* centrée */
        height: 100vh;
        }
        img {
        width: 700px;
        }
        footer {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: flex-start; /* aligns items to the left */
        }
    </style>
</head>
<body>
<img src="/static/fdr.jpg"
alt="fdr">
<br><br>
<div style=
"font-size: 150%;"
"text-align: center;"
>
Make your signature override the Congress, Supreme Court, and the President! Implement the 5% direct statute/amendment.
</div>
<br><br>
<img src="{{ url_for('static', filename='usa.png') }}"
     alt="34"
     >
<br><br>
5% of US citizens in a state of voting age may initiate a ballot measure vote on any local, state, or federal statute(s) or amendment(s). Ballot measure votes in 34 states passing the statute(s) or amendment(s) by majority of those voting becomes enacted or repealed to the federal legal codes and/or US Constitution. The result of this vote supersedes and overrides the Congress, President and the Supreme Court.
<br><br>
Tell your local/state/federal politician(s) that you will not vote for them unless they create this. Eventually the only people that win the primaries are the people who support this, after which you get this system.
<br><br>
The 10th amendment to the Constitution establishes a direct measure in each of the 50 states as it states "or to the people" in the clause. This establishes a direct vote that is not to the "states", which refers to the state "government". See Pacific States Telephone & Telegraph Co. v. Oregon (1912). This direct democratic procedure is law, all that is needed is that SCOTUS validates it. The last part of the 10th amendment reads, "or to the people." 10th Amendment below. "The powers not delegated to the United States by the Constitution, nor prohibited by it to the States, are reserved to the States respectively, or to the people." The use of the word "or" is an equivalence between "to the people" (a direct democratic system/direct vote/direct measure/ballot measure) and "the States" (state govt). The equivalence does not preclude one from the other, so, a direct measure cannot be prohibited, which, overrides a state "representative".
<br><br>
    <img src="{{ url_for('static', filename='virginia.jpg') }}"
         alt="virginia"
            >
    <br>
    Referendums by country
    <br>
    <table id="refTable" border="1" cellpadding="6"></table>
    <br>
    The initiative in Oregon in 1906 was later affirmed by the Supreme Court of the United States in the 1912 Supreme Court case Pacific States Telephone & Telegraph Co. v. Oregon.  The Supreme Court ruled that the direct initiative system of the state overruled any state government.
    <br>
    <a href="https://tile.loc.gov/storage-services/service/ll/usrep/usrep223/usrep223118/usrep223118.pdf" target="_blank">Library of Congress-Pacific States Tel. & Tel. Co. v. Oregon, 223 U.S. 118 (1912)</a>
    <br>
    <a href="https://supreme.justia.com/cases/federal/us/223/118/" target="_blank">Justia-Cases-Pacific States Tel. & Tel. Co. v. Oregon, 223 U.S. 118 (1912)</a>
    <br>
    <a href="https://en.wikipedia.org/wiki/Pacific_States_Telephone_%26_Telegraph_Co._v._Oregon" target="_blank">Wiki-Pacific States Tel. & Tel. Co. v. Oregon, 223 U.S. 118 (1912)</a>
    <br>
    <br>
<br>

    <img src="{{ url_for('static', filename='amend_new.png') }}"
         alt="amend"
         >


    <br>
    <br>
    <br>

Reinstate WW2 Veteran America.
<br><br>
Those living on tribal lands were not made citizens until 1924. There has never been passed a Mexican Citizenship Act. Some say those born in the United States are not US citizens.  Do you think somebody is an illegal alien or has fraudulent papers?  Currently there are deportations going on from the government.
<br><br>
Stop the predation on WW2 veterans in the United States.
<br><br>
Mike Gravel is a founder of the direct democracy movement.  A veteran of the US Army from 1951 to 1954 he spent a decade in Congress advocating for a direct democracy method.  His total time in Congress from Alaska was in the Senate from 1969 to 1981.
<br>

<br>
    <img src="{{ url_for('static', filename='gravel_bio.png') }}"
         alt="gravel_bio"
         style="max-width:300px"
         >



    <img src="{{ url_for('static', filename='gravel_mil2.png') }}"
         alt="gravel_mil2"
         style="max-width:300px"
         >
<br>

<a href=
    "https://en.wikipedia.org/wiki/Mike_Gravel"
    target="_blank"
    >
    https://en.wikipedia.org/wiki/Mike_Gravel
    </a>
<br>


Just Ctrl+F and then "direct democracy", a lot about it.

<br><br>



In 2008 France did a reform to it's government where if 10% of the voting population (about 4.7 million persons) and 20% of the representatives in the National Assembly sign to have a referendum then they can introduce statutes for referendum in the country.  Also known as the "Référendum d'initiative partagée".
<br>
(Just click English in the top right corner to translate from French to English)


<br>


<a href="https://fr-wikipedia-org.translate.goog/wiki/R%C3%A9f%C3%A9rendum_d%27initiative_partag%C3%A9e?_x_tr_sl=fr&_x_tr_tl=en&_x_tr_hl=en&_x_tr_pto=wapp"
    target="_blank">
    Wiki-French Référendum d'initiative Partagée-translated from french with google translate
    </a>
<br>
<img src="{{ url_for('static', filename='flag_french.png') }}"
     alt="flag_french"
     style="max-width:300px"
     >
<br>


As of 2025 there is also legislation pending in France to introduce the ability
to amend the French Constitution with the same number of signatures, this is referred to as the Référendum d'Initiative Citoyenne.


<br>
<a href="https://en.wikipedia.org/wiki/Citizens%27_initiative_referendum_(France)"
    target="_blank"
    >
    https://en.wikipedia.org/wiki/Citizens%27_initiative_referendum_(France)
    </a>
<br>





<br><br>

    <img src="{{ url_for('static', filename='flag_swiss.png') }}"
         alt="flag_swiss"
         style="max-width:300px"
         >

<br>
Switzerland (all the rich people in the world/Davos/Hillary) has has this system since 1891, this is a list of all the votes that they have ever had.
<br>

<a href="https://www.bk.admin.ch/ch/f/pore/va/vab_2_2_4_1.html"
    target="_blank">
    Swiss Government - All Direct Measures in History of Switzerland - https://www.bk.admin.ch/ch/f/pore/va/vab_2_2_4_1.html
    </a>
    <br><br>

<a href="
    https://www.ch.ch/en/votes-and-elections/popular-initiative/
    "
    target="_blank">
    Swiss Government - How Federal Initiative Works in Switzerland - https://www.ch.ch/en/votes-and-elections/popular-initiative/
    </a>
    <br><br>

<a href="
    https://www.eda.admin.ch/content/missions/mission-eu-brussels/fr/home/schweizer-politik/in-zahlen.html
    "
    target="_blank">
    Swiss Government - All their votes with the EU, done via initiative - https://www.eda.admin.ch/content/missions/mission-eu-brussels/fr/home/schweizer-politik/in-zahlen.html
    </a>


<br><br>

This is a table of all the states in USA that have this system, 24 in total.
<br><br>
    <table id="statesTable"></table>


<br><br>




    <img src="{{ url_for('static', filename='orj.jpg') }}"
         alt="orj"
         >


<br><br>
British version of 5% direct statute/law/amendment?

<br><br>
<img src="{{ url_for('static', filename='uk.png') }}"
     alt="orj"
     style="max-width: 500px; width: 100%; height: auto;">


<br><br><br>
French version of 5% direct statute/law/amendment?
<br><br>



Souhaitez-vous que votre signature prime sur les décisions de l'Assemblée nationale, de la Cour de cassation et du Président de la République ?
<br><br>Mise en œuvre de la 5% loi et de l'amendement.
<br><br>Lorsqu'au moins 5% des électeurs français, soit environ 2,25 millions de personnes, soumettent à référendum une loi ou un amendement d'ordre national, régional ou local, et que cette loi ou cet amendement est adopté à la majorité des voix, il entre dans le droit français et est intégré à la Constitution. Il ne peut faire l'objet d'un veto ni être invalidé par l'Assemblée nationale, la Cour de cassation ou le Président de la République.
<br><br>Comme en Suisse.

<br><br>
French Electoral Map
<br><br>


<br><br>


<img src="{{ url_for('static', filename='france_map.png') }}"
     alt="orj"
     style="max-width: 500px; width: 100%; height: auto;">

    <br><br><br>

Social Media for 5% 34 State Ballot Measure Statute/Law/Amendment
    <br><br>
    <footer>

    <a href="https://www.facebook.com/yourprofile" target="_blank">
        <img src="{{ url_for('static', filename='facebook.png') }}"
             alt="Facebook"
             style="width:32px; height:32px;">
    </a>

    <a href="https://www.youtube.com/yourchannel" target="_blank">
        <img src="{{ url_for('static', filename='youtube.png') }}"
             alt="Youtube"
             style="width:32px; height:32px;">
    </a>

    <a href="https://x.com/34ballotmeasure" target="_blank">
        <img src="{{ url_for('static', filename='twitter.png') }}"
             alt="Twitter"
             style="width:32px; height:32px;">
    </a>

    <a href="https://reddit.com/r/34ballotmeasure" target="_blank">
        <img src="{{ url_for('static', filename='reddit.png') }}"
             alt="Reddit"
             style="width:32px; height:32px;">
    </a>

    <!--
    <a href="https://www.instagram.com/yourprofile" target="_blank">
        <img src="{{ url_for('static', filename='instagram.png') }}"
             alt="Instagram"
             style="width:32px; height:32px;">
    </a>
    <a href="https://www.tiktok.com/@yourprofile" target="_blank">
        <img src="{{ url_for('static', filename='Tiktok.png') }}"
             alt="Tiktok"
             style="width:32px; height:32px;">
    </a>
    -->
    </footer>



</body>

<script>


const refs = [
  [1906,"91.80%","Oregon","","Annual license on companies","https://ballotpedia.org/Oregon_Measure_Nos._320-321,_Tax_on_Express_and_Communications_Firm_Earnings_Initiative_(June_1906)"],
  [1992,"50.3%","Switzerland","2%","Reject joining EEA","https://en.wikipedia.org/wiki/1992_Swiss_referendums"],
  [2025,"62.78%","Wisconsin","Govt","Requires photo voter ID","https://en.wikipedia.org/wiki/2025_Wisconsin_Question_1"],
  [2004,"79.17%","Ireland","Govt","Abolishes birthright citizenship","https://en.wikipedia.org/wiki/Twenty-seventh_Amendment_of_the_Constitution_of_Ireland"],
  [2009,"57.51%","Switzerland","2%","Ban minaret construction","https://en.wikipedia.org/wiki/2009_Swiss_minaret_referendum"],
  [2024,"80.73%","Oklahoma","Govt","Ban noncitizen voting","https://ballotpedia.org/Oklahoma_State_Question_834,_Citizenship_Requirement_for_Voting_Amendment_(2024)"]
];
const table = document.getElementById("refTable");
table.innerHTML =
  "<tr><th>Year</th><th>Vote</th><th>Country</th><th>Req</th><th>Issue</th><th>Link</th></tr>" +
  refs.map(r => {
    const [year, vote, country, req, issue, url] = r;
    return `<tr>
      <td>${year}</td>
      <td>${vote}</td>
      <td>${country}</td>
      <td>${req}</td>
      <td>${issue}</td>
      <td><a href="${url}" target="_blank" rel="noopener">${country}-${year}</a></td>
    </tr>`;
  }).join("");



const data = [
  [1,"South Dakota",1898,"First state to adopt the initiative & referendum (I&R)."],
  [2,"Utah",1900,"Adopted I&R early in the Progressive Era."],
  [3,"Oregon",1902,"Major Progressive Era reforms; strong I&R system."],
  [4,"Nevada",1904,"Adopted constitutional initiative & referendum."],
  [5,"Montana",1906,"Voters approved I&R constitutional amendment."],
  [6,"Oklahoma",1907,"Adopted I&R at statehood."],
  [7,"Michigan",1908,"Adopted constitutional initiative."],
  [8,"Missouri",1908,"Added statewide initiative & referendum powers."],
  [9,"Maine",1908,"Adopted statewide initiative."],
  [10,"Arkansas",1910,"Voters approved initiative & referendum."],
  [11,"Colorado",1910,"Adopted I&R; effective 1912."],
  [12,"Arizona",1912,"Adopted at statehood; strong I&R system."],
  [13,"Nebraska",1912,"Adopted initiative & referendum."],
  [14,"Washington",1912,"Voters approved I&R constitutional amendment."],
  [15,"Idaho",1912,"Adopted initiative & referendum."],
  [16,"Ohio",1912,"Adopted constitutional initiative."],
  [17,"North Dakota",1914,"Adopted I&R system."],
  [18,"California",1911,"Landmark Progressive Era reform expanding direct democracy."],
  [19,"Massachusetts",1918,"Adopted initiative & referendum (rare in the Northeast)."],
  [20,"Alaska",1959,"Adopted I&R at statehood."],
  [21,"Florida",1968,"Adopted constitutional initiative (constitutional amendments only)."],
  [22,"Wyoming",1968,"Adopted statewide initiative; effective 1969."],
  [23,"Illinois",1970,"Limited initiative: only for structural changes to the legislature."],
  [24,"Mississippi",1992,"Adopted constitutional initiative; system inactive since 2021 ruling."]
];

const headers = ["Order","State","Adoption Year","Notes"];

function buildTable(d,id,h){
  const t=document.getElementById(id);
  t.innerHTML="";
  if(h) d=[h,...d];
  d.forEach(r=>{
    const tr=t.insertRow();
    r.forEach(c=>{
      tr.insertCell().textContent=c;
    });
  });
}

buildTable(data, "statesTable", headers);



</script>

</html>
